@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", serif;
}

body {
    background-color: #131212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #292828;
    width: 500px;
    max-height: 450px;
    min-height: 100px;
    display: flex;
    flex-direction: column;  /* Organiza os elementos na vertical */
    align-items: center;
    justify-content: space-between; /* Dá espaço entre os elementos */
    padding: 20px;
    box-sizing: border-box; /* Inclui o padding no tamanho total */
    border-radius: 20px;
    /* Definindo largura máxima */
    max-width: 100%;
}

.titulo {
    margin: 0 0 20px 0;
    font-weight: 700;
    color: #fff;
}

.number {
    background-color: #ffffff36; /* Cor de fundo semi-transparente */
    color: #10f075 !important; /* Cor do texto */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    margin-bottom: 20px; /* Espaçamento entre o número e os botões */
    border-radius: 10px;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    font-weight: 900;
    cursor: default;
}

/* Container de botões */
.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 50px;
    background-color: #08c95f;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 20px;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 80%; /* Reduz a largura da container para 80% da tela */
        padding: 15px; /* Menos padding em telas menores */
    }

    .number {
        height: 60px; /* Reduz a altura do número */
        font-size: 1.5rem; /* Ajusta o tamanho da fonte */
    }

    .button {
        width: 150px; /* Reduz a largura do botão */
        height: 45px; /* Reduz a altura do botão */
        margin: 10px; /* Menos margem */
    }
}

/* Responsividade para telas pequenas (celulares) */
@media (max-width: 480px) {
    .container {
        width: 90%; /* Container ocupa 90% da largura da tela */
        padding: 10px; /* Menos padding em telas muito pequenas */
    }

    .number {
        height: 50px; /* Menor altura para o número */
        font-size: 1.2rem; /* Menor tamanho de fonte */
    }

    .button {
        width: 120px; /* Menor largura do botão */
        height: 40px; /* Menor altura do botão */
        margin: 5px; /* Menos margem */
    }
}
